pre-commit==3.7.0
mypy==1.9.0
black==24.3.0
paho-mqtt==2.0.0
influxdb==5.3.1
pytest==8.1.1
## The following requirements were added by pip freeze:
certifi==2024.2.2
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
distlib==0.3.8
filelock==3.13.3
identify==2.5.35
idna==3.6
iniconfig==2.0.0
msgpack==1.0.8
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.0
pluggy==1.4.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
setuptools==69.2.0
six==1.16.0
typing_extensions==4.10.0
urllib3==2.2.1
virtualenv==20.25.1
